/*-  BASE STYLES
----------------------------------------------------------------------*/

/*- self-clearing floats ----------*/

.mod:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*- fluid images and objects ----------*/

img,
object,
embed {max-width: 100%;}


/*- optional vanity styles ----------*/

::selection {background: #c80000;}
::-moz-selection {background: #c80000;}

img::selection {background: transparent;}
img::-moz-selection {background: transparent;}

@media only screen and (max-device-width: 480px) {

	html {-webkit-text-size-adjust: none}
	a {-webkit-tap-highlight-color: rgba(200,0,0,0.4);}

}

/*- Paul Irish's Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ ----------*/

@font-face {
  font-family: 'Graublau Web';
  src: url('GraublauWeb.eot');
  src: local('☺'),
         url('GraublauWeb.woff') format('woff'), url('GraublauWeb.ttf') format('truetype');
}


/*- LET'S GET STARTED!
----------------------------------------------------------------------*/

body {
	background-color: #fff;
	color: #000;
	font: normal 16px/22px Helvetica, Arial, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

abbr {
	cursor: help;
}

/*- Menu
#pad {height:100px;}
/* ================================================================ 
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssmenus.co.uk
Copyright (c) 2009- Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */
#menu {padding:0 0 0 30px; margin:0 0 0 300px; list-style:none; width:670px; height:60px; background:url(../../img/background.png)}
* html #menu {
margin:0;
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/background.png', sizingMethod='scale');
}

#menu li {position:relative; float:left; margin:0;}
#menu li a {display:block; height:36px; line-height:35px; padding:0 20px 0 0; float:left; color:#333; text-decoration:none; font-family:arial, sans-serif; font-size:11px; background:url(../../img/divide.png) no-repeat right top;}
#menu li a b {display:block; height:36px; float:left; padding:0 0 0 20px;}

#menu li a:hover, 
#menu li a:active,
#menu li a:focus,
.home #menu li#home a,
.single #menu li#single a,
.dropdown #menu li#dropdown a,
.dropline #menu li#dropline a,
.flyout #menu li#flyout a,
.support #menu li#support a,
.contact #menu li#contact a
{background:#999 url(../../img/divide2.png) no-repeat right top; cursor:pointer; color:#fff; line-height:35px;}
#menu li a:hover b,
#menu li a:active b,
#menu li a:focus b,
.home #menu li#home a b,
.single #menu li#single a b,
.dropdown #menu li#dropdown a b,
.dropline #menu li#dropline a b,
.flyout #menu li#flyout a b,
.support #menu li#support a b,
.contact #menu li#contact a b
{ background:#999; cursor:pointer;}