<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js">
<!-- the "no-js" class is for Modernizr. -->

<head class="html5reset-kitchensink-commented">
	<meta charset="utf-8" />
	
	<title>Dashline - {% block title %}Home{% endblock %}</title>
	
	<meta name="description" content="Dashline - Your events, your time.">
    <meta name="author" content="Felipe Rafael Prenholato (chronossc) <philipe.rp@gmail.com>" />
    <meta name="author" content="Diógenes A. Fernandes Hermínio (diofeher) <diofeher@gmail.com>" />
    <meta name="author" content="Henrique Pereira (ikkebr) <ikkibr@gmail.com>" />
	<meta name="Copyright" content="Copyright Dashline Team 2010. All Rights Reserved." />

	<meta name="DC.title" content="Dashline" />
	<meta name="DC.subject" content="What you're about." />
	<meta name="DC.creator" content="Dashline team." />
		
	<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.png"/>
	<!-- This is the traditional favicon.
		 - size: 16x16 or 32x32
		 - transparency is OK
		 - see wikipedia for info on broswer support: http://mky.be/favicon/ -->
	
	<link rel="apple-touch-icon" href="{{ MEDIA_URL}}img/custom_icon.png"/>
	<!-- The is the icon for iOS's Web Clip.
		 - size: 57x57 for older iPhones, 72x72 for iPads, 114x114 for iPhone4's retina display (IMHO, just go ahead and use the biggest one)
		 - To prevent iOS from applying its styles to the icon name it thusly: apple-touch-icon-precomposed.png
		 - Transparency is not recommended (iOS will put a black BG behind the icon) -->

	<link rel="stylesheet" href="{{ MEDIA_URL }}html5/css/main.css" media="all" />
	<link rel="stylesheet" href="{{ MEDIA_URL }}html5/css/_print/main.css" media="print" />
	<!--[if IE]>
	<link rel="stylesheet" href="{{ MEDIA_URL }}html5/css/screen/patches/win-ie-all.css" media="all" />
	<![endif]-->
	<!--[if IE 7]>
	<link rel="stylesheet" href="{{ MEDIA_URL }}html5/css/screen/patches/win-ie7.css" media="all" />
	<![endif]-->
	<!--[if lt IE 7]>
	<link rel="stylesheet" href="{{ MEDIA_URL }}html5/css/screen/patches/win-ie-old.css" media="all" />
	<![endif]-->
	
	<!--[if lt IE 8]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE8.js"></script>
	<![endif]-->
	
	<!-- jQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="{{ MEDIA_URL }}js/functions.js"></script>
		<script src="{{ MEDIA_URL}}html5/js/modernizr-1.5.min.js"></script>
	
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/base.css" type="text/css" media="screen" />
    {% block extracss %}{% endblock %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
    {% block extrajs %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>

<body id="DashLine">

<div class='section' id='page'>
	<header>
		
		<div>
			<h1><a href='{% url views_home %}'>Dashline</a></h1>
			<h3>and we need a slogan</h3>
        </div>

		{% include 'menu.html' %}
		
	</header>
    	
	<article class='article'>
		<div>
		    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
    		{% block content %}{% endblock %}
		</div>
		
	</article>

	<aside>
	    {% block sidebar %}
		<h2>Sidebar Content if we are gonna have a sidebar :)</h2>
		{% endblock %}
	</aside>
	
	<footer>
		<div>
			<p><small>&copy; Copyright Dashline Team 2010. All Rights Reserved. This website is Pony Powered.<br/>Maybe you want to <a href="{# url contact #}"><b>contact us</b></a> or just want to know <a href="{# url about #}"><b>about who we are</b></a>.</small></p>	
		</div>
	</footer>
    
</div>

</body>
<html>
