{% extends "base.html" %}

{% block title %}{{ profile.user.username }}'s profile{% endblock %}

{% block content %}
<h1>{{ profile.user.username }}</h1>
{{ profile.avatar|safe }}

{% if user != profile.user %}
    <a href="{% url users_follow profile.user %}">{{ _('follow') }}</a>
{% endif %}

{% if profile.description %}about: {{ profile.description }}{% endif %}
{% if profile.country %}country: {{ profile.country }}{% endif %}
<ul>
    {% if profile.twitter %}<li>Twitter: {{ profile.twitter }}</li>{% endif %}
</ul>

{% for friend in profile.friends.all %}
    <a href="{% url profiles_profile_detail friend.user.username %}">{{ friend }}</a>
{% empty %}
    <p>No friends yet.</p>
{% endfor %}
{% endblock %}
