{% extends "base.html" %}

{% block title %}{{ profile.user.username }}'s profile{% endblock %}

{% block content %}
<h1>{{ profile.avatar|safe }} {{ profile.user.username }}</h1>

{% if user != profile.user %}
    {% if profile.user in follow_list %}
        <a href="{% url users_unfollow profile.user %}">{{ _('unfollow') }}</a>
    {% else %}
        <a href="{% url users_follow profile.user %}">{{ _('follow') }}</a>
    {% endif %}
{% endif %}


{% if profile.description %}about: {{ profile.description }}{% endif %}
{% if profile.country %}country: {{ profile.country }}{% endif %}
<ul>
    {% if profile.twitter %}<li>Twitter: {{ profile.twitter }}</li>{% endif %}
</ul>

<br/>

<h3>Following</h3>
<ul>
{% for friend in profile.user.following_set.all %}
    <li><a href="{% url profiles_profile_detail friend.to_user.username %}">{{ friend.to_user }}</a><li>
{% empty %}
    <li>No friends yet.</li>
{% endfor %}
</ul>

<h3> Timelines <h3>
	<ul>
{% for timeline in profile.user.timeline_set.all %}
		<li><a href='{% url timeline_show timeline.slug %}'>{{ timeline.title }}</a></li>
{% endfor %}
	</ul>
{% endblock %}
