{% extends "base.html" %}

{% block title %}{{ profile.user.username }}'s profile{% endblock %}

{% block content %}
<h1>{{ profile.user.username }}</h1>
{{ profile.avatar|safe }}

{% if user != profile.user and is_following %}
    <a href="{% url users_follow profile.user %}">{{ _('follow') }}</a>
{% endif %}

{% if profile.description %}about: {{ profile.description }}{% endif %}
{% if profile.country %}country: {{ profile.country }}{% endif %}
<ul>
    {% if profile.twitter %}<li>Twitter: {{ profile.twitter }}</li>{% endif %}
</ul>

<br/>

<h3>Following</h3>
<ul>
{% for friend in profile.following %}
    <li><a href="{% url profiles_profile_detail friend.to_user.username %}">{{ friend.to_user }}</a><li>
{% empty %}
    <li>No friends yet.</li>
{% endfor %}
</ul>
{% endblock %}
