{% extends 'base.html' %}

{% block Title %}Add entries to your timeline{% endblock %}

{% block extrajs %} 
	<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.formset.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}/js/jquery.elastic.js"></script>

	
	<link rel="stylesheet" type="text/css" href="http://jquery-ui.googlecode.com/svn/tags/latest/themes/base/jquery-ui.css" media="all" />

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

	<script type="text/javascript">
		$(function() {
			$('#accordion fieldset').formset({
				prefix: 'timeline'
			});
		})
		
	</script>
	
	<script type="text/javascript">
    $(function() {

		$('input[id*=when]').live('focus', function(){ 
					$(this).datepicker({
			changeMonth: true,
			changeYear: true
		});});
		
		$('textarea').live('focus', function(){ $('#myTextarea').elastic(); });
		
    });
	</script>


	<style type="text/css">
		.delete-row {
			margin-left:5px;
		}
	</style>
	   
{% endblock %}
 
{% block content %}
		<h2>Add entries to your timeline</h2>
		
		<p>Fill this form to create a new timeline.</p>
			
		
		<div>
			<div class="entry">
				<form method="post" action="{{ request.path }}">
				{% csrf_token %}
						
						<div id="accordion">
							{% for form in formset.forms %}
							
								<fieldset id="{{ form.prefix }}-row">
								<legend>New Event</legend>
									{% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
									{% if form.instance.pk %}{{ form.DELETE }}{% endif %}
									
									<p>{{ form.title }}</p>
									<p>{{ form.when }}</p>
									<p>{{ form.description }}</p>
									<p>{{ form.entry_type }}<br/>{{ form.entry_content }}</p>
								</fieldset>
							{% endfor %}
						</div>
						
					<p>
						{{ formset.management_form }}
						<input type="submit" value="Submit" />
					</p>
				</form>
			</div>
		</div>


{% endblock %}