{% extends 'base.html' %}

{% block title %}{{ timeline.title }}{% endblock %}

{% block extrahead %}
{% endblock %}


{% block content %}

	<h2>{{ timeline.title }}</h2>
	<h3>by <a href='{% url profiles_profile_detail timeline.owner %}'>{{ timeline.owner }}</a>, created {{ timeline.date_created|date:'d/m/Y' }}</h3>
	<p>{{ timeline.description|linebreaksbr }}</p>
	
		
	<ul class='text-timeline'>
		{% for entry in timeline.entry_set.all %}
			{% if not forloop.first %}
				</ul></li>
			{% endif %}
				
			{% ifchanged entry.when|date:"Y" %}
				<li class='{{ entry.when|date:"Y" }}'> <h2>{{ entry.when|date:"Y" }}</h2><ul>
			{% endif %}
				
			{% ifchanged entry.when|date:"m/Y" %}
				<li class='{{ entry.when|date:"m_Y" }}'> <h2>{{ entry.when|date:"m/Y" }}</h2><ul>
			{% endif %}
				
			{% ifchanged entry.when|date:"d/m/Y" %}
				<li class='{{ entry.when|date:"d_m_Y" }}'> <h2>{{ entry.when|date:"d/m/Y" }}</h2><ul>
			{% endif %}
				
			<li class='entry'>
				<p>
					{{ entry.entry_type}} - <a href='#'>{{ entry.title }}</a><br/>
					{{ entry.description|linebreaksbr }}
				</p>
			</li>
		{% endfor %}
	</ul>
	

	
{% endblock %}